<?xml version="1.0" encoding="utf-8" ?>
<AlbianObjects>
  <AlbianObject Implement="AppTest.Model.Imp.LogInfo,AppTest.Model.Imp" Interface="AppTest.Model.ILogInfo,AppTest.Model">
    <Cache Enable="false" LifeTime="300"></Cache>
    <Members>
      <Member Name="Id" FieldName="LogId"/>
    </Members>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.User,AppTest.Model.Imp" Interface="AppTest.Model.IUser,AppTest.Model">
    <Routings>
      <Routing Name="1thRouting" StorageName="1thStorage" TableName="User" Owner="dbo" Permission="W"></Routing>
    </Routings>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.Order,AppTest.Model.Imp" Interface="AppTest.Model.IOrder,AppTest.Model">
    <Cache Enable="true" LifeTime="300"></Cache>
    <Routings>
      <Routing Name="IdRouting" StorageName="2thStorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="CreateTimeRouting" StorageName="3thStorage" TableName="OrderByCreateTime" Owner="dbo" Permission="WR"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="OrderId" AllowNull="false" Length="32" PrimaryKey="true" DbType="string" IsSave="true"/>
    </Members>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.BizOffer,AppTest.Model.Imp" Interface="AppTest.Model.IBizOffer,AppTest.Model">
    <Cache Enable="true" LifeTime="60"></Cache>
    <Routings Hash="true">
      <Routing Name="IdRouting" StorageName="2thStorage" TableName="BizOfferById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="CreateTimeRouting" StorageName="3thStorage" TableName="BizOfferByCreateTime" Owner="dbo" Permission="WR"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="BizOfferId" AllowNull="false" Length="32" PrimaryKey="true" DbType="string" IsSave="true"/>
    </Members>
  </AlbianObject>
</AlbianObjects>
