<?xml version="1.0" encoding="utf-8" ?>
<AlbianObjects>
  <AlbianObject Implement="AppTest.Model.Imp.User,AppTest.Model.Imp" Interface="AppTest.Model.IUser,AppTest.Model">
    <Routings>
      <Routing Name="1thRouting" StorageName="1thStorage" TableName="User" Owner="dbo" Permission="W"></Routing>
    </Routings>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.Order,AppTest.Model.Imp" Interface="AppTest.Model.IOrder,AppTest.Model">
    <Routings>
      <Routing Name="IdRouting" StorageName="2thStorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="CreateTimeRouting" StorageName="3thStorage" TableName="OrderByCreateTime" Owner="dbo" Permission="WR"></Routing>
    </Routings>
  </AlbianObject>
  <AlbianObject Implement="AppTest.Model.Imp.BizOffer,AppTest.Model.Imp" Interface="AppTest.Model.IBizOffer,AppTest.Model">
    <Routings Hash="true">
      <Routing Name="IdRouting" StorageName="2thStorage" TableName="BizOfferById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="CreateTimeRouting" StorageName="3thStorage" TableName="BizOfferByCreateTime" Owner="dbo" Permission="WR"></Routing>
    </Routings>
  </AlbianObject>
</AlbianObjects>      