<?xml version="1.0" encoding="utf-8" ?>
<AlbianObjects>
  <AlbianObject Implement="Albian.Persistence.Imp.TestProject.Order,Albian.Persistence.Imp.TestProject" Interface=" Albian.Persistence.Imp.TestProject.IOrder,Albian.Persistence.Imp.TestProject">
    <Cache Enable="true" LifeTime="300"></Cache>
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
      <Routing Name="secondRouting" StorageName="secondstorage" TableName="OrderById" Owner="dbo" Permission="WR"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="OrderId" AllowNull="false" Length="36" PrimaryKey="true" DbType="string" IsSave="true"/>
      <Member Name="Name" FieldName="Ordername"/>
    </Members>
  </AlbianObject>
  <AlbianObject Implement="Albian.Persistence.Imp.TestProject.BizOffer,Albian.Persistence.Imp.TestProject" Interface=" Albian.Persistence.Imp.TestProject.IBizOffer,Albian.Persistence.Imp.TestProject">
    <Routings>
      <Routing Name="firestRouting" StorageName="firststorage" TableName="OrderById" Owner="dbo" Permission="W"></Routing>
    </Routings>
    <Members>
      <Member Name="Id" FieldName="BizOfferId" AllowNull="false" Length="36" PrimaryKey="true" DbType="string" IsSave="true"/>
      <Member Name="Name" FieldName="BizOfferName"/>
    </Members>
  </AlbianObject>
</AlbianObjects>
