<?xml version="1.0" encoding="utf-8" ?>
<Storages>
  <Storage>
    <Name>firststorage</Name>
    <DatabaseStyle>MySql</DatabaseStyle>
    <Server>localhost</Server>
    <Database>albian_1</Database>
    <Uid>root</Uid>
    <Password>xuhf</Password>
    <Pooling>false</Pooling>
    <MinPoolSize>10</MinPoolSize>
    <MaxPoolSize>20</MaxPoolSize>
    <Timeout>60</Timeout>
  </Storage>
  <Storage>
    <Name>secondstorage</Name>
    <DatabaseStyle>MySql</DatabaseStyle>
    <Server>localhost</Server>
    <Database>albian_2</Database>
    <Uid>root</Uid>
    <Password>xuhf</Password>
    <Pooling>false</Pooling>
    <MinPoolSize>10</MinPoolSize>
    <MaxPoolSize>20</MaxPoolSize>
    <Timeout>60</Timeout>
  </Storage>
  <Storage>
    <Name>thirdstorage</Name>
    <DatabaseStyle>Oracle</DatabaseStyle>
    <Server>localhost</Server>
    <Database>testbd</Database>
    <Uid>sa</Uid>
    <Password>test</Password>
    <Pooling>true</Pooling>
    <MinPoolSize>10</MinPoolSize>
    <MaxPoolSize>20</MaxPoolSize>
    <Timeout>60</Timeout>
  </Storage>
</Storages>