<?xml version="1.0" encoding="utf-8" ?>
<SyncMonitor>
  <NetworkTimeout>20</NetworkTimeout>
  <Charset>UTF-8</Charset>
  <PoolSize>50</PoolSize>
  <Servers>
    <Server Address="10.62.245.107" Port="22122" />
    <Server Address="10.62.164.84" Port="22122" />
    <Server Address="10.62.164.84" Port="22122" />
    <Server Address="10.62.164.84" Port="22122" />
    <Server Address="10.62.164.84" Port="22122" />
  </Servers>
</SyncMonitor>